<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.timeout.springcore"></context:component-scan>

    <bean id="apple" class="com.timeout.springcore.aop.spring.xml.Apple"></bean>
    <bean id="banana" class="com.timeout.springcore.aop.spring.xml.Banana"></bean>
    <bean id="fruitHandler" class="com.timeout.springcore.aop.spring.xml.FruitHandler"></bean>


    <!--
    |第一个 * —— 通配 随便率性返回值类型|
    |第二个 * —— 通配包com.timeout.springcore.aop.springjdk下的随便率性class|
    |第三个 * —— 通配包com.timeout.springcore.aop.springjdk下的随便率性class的随便率性办法|
    |第四个 .. —— 通配 办法可以有0个或多个参数|
    -->
    <aop:config>
        <aop:aspect id="datelog" ref="fruitHandler">
            <aop:pointcut id="eatFruit" expression="execution(* com.timeout.springcore.aop.spring.*.*(..))" />
            <aop:before method="startEatFruitDate" pointcut-ref="eatFruit"/>
            <aop:after method="endEatFruitDate" pointcut-ref="eatFruit"/>
        </aop:aspect>
    </aop:config>


</beans>
